name: Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v3

      - name: Instalar Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Instalar dependencias
        run: |
          cd frontend
          npm install

      - name: Compilar proyecto Angular
        run: |
          cd frontend
          npm run build --prod

      - name: Crear carpeta pública si no existe
        run: mkdir -p ~/public_html/

      - name: Limpiar carpeta pública
        run: rm -rf ~/public_html/*

      - name: Copiar archivos compilados al directorio público
        run: cp -r frontend/dist/ecoBahia/* ~/public_html/

