name: Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Clonar repositorio
        uses: actions/checkout@v3

      - name: Instalar Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Instalar dependencias
        run: |
          cd frontend
          npm install

      - name: Compilar proyecto Angular
        run: |
          cd frontend
          npm run build --prod

      # Ya no intentamos crear la carpeta ni usar sudo
      - name: Copiar archivos compilados a la carpeta del servidor
        run: |
          cp -r frontend/dist/ecoBahia/* /var/www/html/jorge_sotelo/


