name: Deploy Frontend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20

      - name: Install dependencies
        run: |
          cd frontend
          npm install

      - name: Build Angular
        run: |
          cd frontend
          npm run build --prod

      - name: Deploy dist to web folder
        run: |
          cp -r frontend/dist/ecoBahia/browser/* /var/www/jorge_site/

      - name: Set permissions
        run: chmod -R 755 /var/www/jorge_site/
